* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 
 
 *, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 
 :focus, :active {
   outline: none;
 }
 
 a:focus, a:active {
   outline: none;
 }
 
 
 nav, footer, header, aside {
   display: block;
 }
 
 
 html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 
 
 input, button, textarea {
   font-family: inherit;
 }
 
 
 input::-ms-clear {
   display: none;
 }
 button {
   cursor: pointer;
 }
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 a, a:visited {
   text-decoration: none;
 }
 a:hover {
   text-decoration: none;
 }
 ul li {
   list-style: none;
 }
 img {
   vertical-align: top;
 }
 h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: 400;
 }
 
 body {
   font-family: Roboto;
   font-weight: 400;
 }

/*-----------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden; /*чтобы скрыть всё то, что выходит и чтобы скрол был*/
    display: flex; /**/
    flex-direction: column; /*Чтобы блоки (шапка, тело, подвал) стояли друг под другом*/
}

._container {
    max-width: 1121px; /*Макс. ширина контейнера с контентом (1091px + 30px отступы слева и справа, чтобы лого не прилип*/
    margin: 0 auto; /*Чтобы контейнер располагался по центру*/
    padding: 0 15px; /*Отступы слева и справа, чтобы логотип не прилип к стенке на узких экранах*/
}

/*---------------------ШАПКА----------------------------------------------*/

.header {
   position: absolute; /*Чтобы шапка имела позицию относительно окна браузера*/
   width: 100%; /*Чтобы растягивался на всю ширину*/
   left: 0; /*Расположение*/
   top: 0; 
   z-index: 50; /*Чтобы шапка была поверх других*/
 }
.header__container {
   display: flex; /*Чтобы выстроить логотип и спиок в два отдельных столбца*/
   min-height: 123px; /*Минимальная высота шапки (из макета)*/
   align-items: center; /*Чтобы выравнить логотип и список по центру внутри шапки*/
 }

.header__logo {

 }

.header__imglogo {
   max-width: 75px;
   max-height: 65px;
}

.header__menu {
   margin: 0px 0px 0px 50px; /*!Отступ слева от меню (который со списком). Применяем к элементу БЭМ, а не к блоку!*/
}

@media (max-width: 957px) { /*Когда ширина экрана будет меньше 920px, то отступ между меню со списком и логотипом уменьшится до 50px*/
   .header__menu {
      margin: 0px 0px 0px 50px;
   }
}

@media (max-width: 869px) { /*Когда ширина экрана будет меньше 920px, то отступ между меню со списком и логотипом уменьшится до 50px*/
   .header__menu {
      margin: 0px 0px 0px 20px;
   }
}

@media (max-width: 839px) { /*Когда ширина экрана будет меньше 920px, то отступ между меню со списком и логотипом уменьшится до 50px*/
   .header__menu {
      margin: 0px 0px 0px 10px;
   }
}

@media (max-width: 569px) { /*Когда ширина экрана будет меньше 920px, то отступ между меню со списком и логотипом уменьшится до 50px*/
   .header__menu {
      margin: 0px 0px 0px 0px;
   }
   .menu__link { /*Чтобы шрифт увеличился, когда экран будет слишком узким, чтобы слова были больше*/
      font-size: 18px;
   }
}

.menu {
   padding: 5px 0; /*Чтобы список не прилип к верху или низу шапки, когда экран будет слишком узким*/
 }

.menu__list {
   display: flex; /*Чтобы элементы из списка выстроились в ряд (.menu__list --> .menu__link)*/
   flex-wrap: wrap; /*Чтобы элементы в списке могли складываться под друг друга, если экран сужен*/
   align-items: center;
 }

.menu__item {
   margin: 0px 0px 0px 59px; /*Отступ, чтобы было расстояние между элементами в списке*/
 }

.menu__link {
   color: #03363D;
   font-size: 16px; /*Размер элементов из списка*/
   line-height: 24px; /*Высота миниблока, которую должна занимать эта надпись*/
 }

.menu__link:hover {
   color: #022024;
   text-decoration: underline;
   text-decoration-color: #022024;
}

.header__submit:hover {
   background: #226a71;
}

.header__submit {
   width: 150px;
   height: 46px;
   background: #17494D;
   color: #fff;
   line-height: 24px;
}

/*--------------------------------MAIN-------------------------------------------*/
.page {
   flex: 1 1 auto; /*Чтобы Main мог расти, уменьшатся и занимал то же место, что и контент (auto)*/
}

.s1 {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 77px;
   line-height: 97px;
   color: #CE9FB7;
}

.s2 {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 77px;
   line-height: 97px;
   color: #FFFFFF;
}

.s3 {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 77px;
   line-height: 97px;
   color: #00A656;
   margin: 0px 0px 0px 15px;
   text-decoration: underline;
   text-decoration-color: #fff;
}

.s4 {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 77px;
   line-height: 97px;
   color: #30AABC;
   text-decoration: underline;
   text-decoration-color: #fff;
}

.page__main-block {
   background: #17494D;
   position: absolute; /*Чтобы шапка имела позицию относительно окна браузера*/
   width: 100%; /*Чтобы растягивался на всю ширину*/
   left: 0; /*Расположение*/
   top: 123px; 
}

.main-block__container {
   display: flex;
   width: 1440px;
   height: 566px;
}

.main-block__title {
   display: block;
   position: relative;
   top: 91px;
   left: 0;
}

.main-block__row {
   position: relative;
   top: 120px;
   left: 240px;
}

.main-block__text {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 28px;
   color: #FFFFFF;
}

.main-block__buttons {
   position: relative;
   top: 36px;
}

.orangebut {
   height: 52px;
   width: 130px;
   background: #FF6224;
   font-family: Roboto;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
}

.borderbut {
   margin: 0px 0px 0px 16px;
   height: 52px;
   width: 130px;
   background: #17494D;
   color: #FF6224;
   border: 3px solid #FF6224; 
   font-family: Roboto;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
}

.page__middle {
   position: absolute;
   top: 689px;
   left: 0;
   height: 403px;
   width: 100%;
   background: #FED6A8;
}

.middle__chat {
   position: absolute;
   top: 30px;
   left: 132px;
   width: 316px;
   height: 348px;
   z-index: 10;
}

.middle__star {
   position: relative;
   left: 88px;
   z-index: 30;
   top: -53px;
}

.middle__girl {
   position: relative;
   top: 88px;
   left: 193px;
}

.middle__container {
   display: flex;
   
}

.middle__text {
   position: relative;
   top: 64px;
   left: 272px;
   width: 458px;
   height: 275px;
}

.middle__title {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 31px;
   line-height: 40px;
   color: #03363D;
   margin: 0px 0px 26px 0px;
}

.middle__subtitle {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #17494D;
}

.middle__links {
   margin: 38px 0px 0px 0px;
}

.middle__video {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 27px;
   color: #03363D;
}

.middle__video:hover {
   text-decoration: underline;
}

.middle__details {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 27px;
   color: #03363D;
   margin: 0px 0px 0px 16px;
}

.middle__details:hover {
   text-decoration: underline;
}

.white-box {
   position: absolute;
   width: 100%;
   height: 1350px;
   top: 1091px;
   background: #fff;
}

.white-box__main {
   display: flex;
}

.white-box__container {
   width: 1137px;
   height: 100%;
   margin: 0 auto;
}

.white-box__titles {
   position: relative;
   top: 96px; 
   margin: 0 auto;
}

.white-box__title {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
   line-height: 56px;
   text-align: center;
   color: #03363D;
}

.white-box__subtitle {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   color: #03363D;
   margin: 24px 0px 0px 0px;
}

.white-box__links {
   margin: 16px 0px 0px 0px;
   position: relative;
   left: 460px;
   margin: 29px auto;
}

.white-box__service, .white-box__sales {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #03363D;
}

.white-box__sales {
   margin: 0px 0px 0px 55px;
}

.white-box__service:hover, .white-box__sales:hover {
   text-decoration: underline;
}

.white-box__text {
   width: 366px;
   height: 800px;
   position: relative;
   top: 392px;
   left: 30px;
}

.white-box__title-txt {
   position: relative;
   top: -260px;
   left: 9px;
   font-weight: bold;
   font-family: Roboto;
   font-size: 32px;
   line-height: 40px;
   color: #03363D;
}

.white-box__subtitle-txt {
   position: relative;
   top: -238px;
   left: 9px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   color: #17494D;
}

.white-box__links-txt {
   position: relative;
   top: -204px;
   left: 9px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 27px;
   color: #03363D;
}

.blog {
   position: relative;
   left: 70px;
   top: -140px;
   width: 318px;
   height: 217px;
   border-left: 2px solid #C2C8CC;
   padding: 0 9px 0 30px;
}

.logo2 {
   width: 181px;
   height: 26px;
   margin: 0px 0px 21px 0px;
}

.blog__main {
   font-family: Roboto;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   color: #17494D;
   width: 279px;
   height: 96px;
   margin: 0px 0px 14px 0px;
}

.blog__subtitle {
   width: 284px;
   height: 60px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;      
   font-size: 14px;
   line-height: 18px;
   color: #03363D;
}

.blog__subtitle span {
   font-size: 15px;
   line-height: 24px;
   color: #17494D;
}

.white-box__photos {
   position: relative;
   left: 220px;
   top: 140px;
   width: 625px;
   height: 775px;
}

.photos__girl {
   width: 533px;
   height: 673px;
}

.photos__chat {
   position: relative;
   top: -300px;
   left: -100px;
}

.bg {
   position: absolute;
   top: 2440px;
   width: 100%;
   height: 640px;
   background: url(../img/bg.jpg) no-repeat;
   background-position: center;
   background-size: cover;
}

.container {
   max-width: 1091px;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

.white-blog {
   width: 625px;
   height: 416px;
   background: #fff;
   position: relative;
   top: 112px;
   left: 466px;
   padding: 68px 65px 56px 64px;
}

.white-blog h2 {
   display: block;
   width: 455px;
   height: 112px;
   font-family: Roboto;
   font-size: 48px;
   line-height: 56px;
   color: #03363D;
   margin: 0px 0px 22px 0px;
}

.white-blog p {
   width: 496px;
   height: 96px;
   font-family: Roboto;
   font-size: 15px;
   line-height: 24px;
   color: #17494D;
   margin: 0px 0px 22px 0px;
}

.bg-links {
   width: 513px;
   height: 40px;
   padding: 12px 0px;
}

.bg-links a {
   font-family: Roboto;
   font-size: 16px;
   line-height: 24px;
   color: #03363D;
   margin: 0px 36px 0px 0px;
}

.bg-links a:hover {
   text-decoration: underline;
   text-decoration-color: #17494D;
}

/* СARUSEL */
.carusel {
   position: absolute;
   width: 1440px;
   height: 740px;
   top: 3080px;
   padding: 72px 0 64px 0;
}

.container1 {
   width: 100%;
   height: 100%;
   max-width: 1099px;
   margin: 0 auto;
}

.car {
   height: 352px;
   padding: 8px;
   margin: 0px 0px 56px 0px;
   display: flex;
   justify-content: space-between;
}

.blue-blog {
   width: 1090px;
   margin: 0 auto;
   height: 196px;
   background: #D6EEF2;
   padding: 48px 225px 48px 245px;
}

.blue-blog__subtitle {
   font-family: Roboto;
   font-weight: bold;
   font-size: 32px;
   line-height: 1.25;
   color: #03363D;
   text-align: center;
   margin: 0px 0px 24px 0px;
}

.blue-blog__img {
   display: block;
   margin: 0 auto;
}

.car__item {
   padding: 32px 35px 42px 32px;
   width: 350px;
   height: 336px;
   background: #F8F9F9;
   position: relative;
}

.car__subtitle {
   font-family: Roboto;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.57;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #03363D;
   margin: 0px 0px 8px 0px;
}

.car__title {
   font-family: Roboto;
   font-weight: bold;
   font-size: 24px;
   line-height: 1.33;
   color: #03363D;
   margin: 0px 0px 26px 0px;
}

.car__text {
   font-family: Roboto;
   font-size: 15px;
   line-height: 1.6;
   color: #17494D;
   margin: 0px 0px 106px 0px;
}

.car__link {
   font-family: Roboto;
   font-size: 16px;
   line-height: 1.5;
   color: #03363D;
}

.item1 {
   border-bottom: 2px solid #7D3D54;
}

.item2 {
   padding: 32px 40px 44px 32px;
   border-bottom: 2px solid #3D8DAE;
}

.item2 p {
   margin: 0px 0px 82px 0px;
}

.item3 {
   border-bottom: 2px solid #C38F00;
}

.item3 .car__text {
   margin: 0px 0px 46px 0px;
}

.car__link:hover {
   text-decoration: underline;
   text-decoration-color: #03363D;
}

/*PARTNERS*/
.partners {
   position: absolute;
   width: 100%;
   height: 687px;
   top: 3820px;
   background: #F8F9F9;
}

.partners__container {
   width: 100%;
   height: 100%;
   max-width: 1099px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 64px 0 0 0;
}

.partners__blog {
   width: 458px;
   height: 558px;
   padding: 53.6px 51.4px 51px 8.5px;
}

.partners__text {
   font-family: Roboto;
   font-weight: bold;
   font-size: 47px;
   line-height: 1.19;
   color: #03363D;
   margin: 0px 0px 20px 0px;
}

.partners__subtext {
   font-family: Roboto;
   font-size: 20px;
   line-height: 1.4;
   color: #03363D;
   margin: 0px 0px 24px 0px;
}

.partners__companies {
   display: block;
   position: relative;
   right: 20px;
   margin: 0px 0px 37px 0px;
}

.partners__link {
   font-family: Roboto;
   font-size: 18px;
   line-height: 1.5;
   color: #03363D;
}

.partners__photos {
   width: 542px;
   height: 615px;
}

.partners__photos img {
   width: 542px;
   height: 615px;
}

.partners__link:hover {
   text-decoration: underline;
   text-decoration-color: #03363D;
}

/* LINKS */

.links {
   position: absolute;
   width: 100%;
   height: 440px;
   top: 4507px;
}

.hr {
   margin: 0 auto;
   width: 1080px;
   height: 2px;
   background: #C2C8CC;
   position: relative;
   top: 94px;

}

.links__container {
   width: 100%;
   height: 100%;
   max-width: 1083px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 184px 0 16px 0;
   }

.links__line {
   }

.links__text {
   font-family: Roboto;
   font-weight: bold;
   font-size: 32px;
   line-height: 1.25;
   color: #03363D;
   width: 282px;
   height: 80px;
}

.links__main {
   width: 706px;
   height: 240px;
   display: flex;
   }

.main__link {
   display: block;
   font-family: Roboto;
   font-size: 18px;
   line-height: 1.5;
   color: #03363D;
   margin: 0px 0px 15px 0px;
   max-width: 342px;
}

.links-row:first-child {
   margin: 0px 29px 0px 0px;
}

.main__link:hover {
   text-decoration: underline;
   text-decoration-color: #03363D;
}

/* GREEN */

.green {
   position: absolute;
   width: 100%;
   height: 416px;
   top: 4947px;
   background: #D6EEF2;
}

.green__container {
   padding: 130px 0 0 123px;
   max-width: 1090px;
   margin: 0 auto;

}

.green__text {
   font-family: Roboto;
   font-size: 47px;
   line-height: 1.19;
   text-align: center;
   color: #03363D;
   margin: 0px 0px 40px 0px;
}

.green-btn {
   display: flex;
   margin: 0 auto;
   width: 363px;
   height: 68px;
}

.green-btn1 {
   display: block;
   width: 184px;
   height: 52px;
   background: #17494D;
   font-family: Roboto;
   font-weight: 900;
   font-size: 18px;
   line-height: 1.39;
   text-align: center;
   color: #FFFFFF;
   padding: 14px 0;
   margin: 0px 16px 0px 0px;
}

.green-btn2 {
   display: block;
   width: 147px;
   height: 52px;
   background: #D6EEF2;
   border: 2px solid #17494D;
   font-family: Roboto;
   font-weight: 900;
   font-size: 18px;
   line-height: 1.39;
   text-align: center;
   color: #17494D;
   padding: 14px 0;
}
/*--------------------------------FOOTER-----------------------------------------*/

.footer {
   position: absolute;
   width: 100%;
   height: 500px;
   top: 5363px;
}

.footer__container {
   max-width: 1083px;
   margin: 0 auto;
   display: flex;
   padding: 92px 0 0 0;
}

.footer__logo {
   margin: 0px 48px 0px 0px;
}

.footer__logo-img {
   width: 36px;
   height: 24px;
   margin: 0px 0px 20px 0px;
}

.footer__text {
   font-family: Roboto;
   font-size: 23px;
   line-height: 1.39;
   color: #03363D;
   width: 127px;
   height: 96px;

}

.footer__links {
   display: flex;
   justify-content: space-between;
}

.footer__block {
   margin: 0px 60px 0px 0px;
}


.footer__h {
   font-family: Roboto;
   font-size: 14px;
   line-height: 1.57;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #03363D;
   margin: 0px 0px 8.5px 0px;
}

.footer__link {
   font-family: Roboto;
   font-size: 12px;
   line-height: 1.62;
   color: #68737D;
}

.footer__link:hover {
   text-decoration: underline;
   text-decoration-color: #68737D;
}
